.algo-display {
    min-height: 4rem;

    .row {
        min-height: 4rem;
    }

    .node-info {
        .block-container {

            p {
                margin-bottom: 0;;
            }
        }
    }
}

.legend {
    display: flex;
    padding: 30px 0;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block {
    height: 25px;
    width: 25px;
    display: block;
    margin-right: 10px;
}

.start-block {
    background-image: url('../assets/grid/start.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.target-block {
    background-image: url('../assets/grid/target.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.weight-block {
    background-image: url('../assets/grid/weight.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.visited-block {
    background-color: rgba(0, 190, 218, 0.75);
}
.path-block {
    background-color: rgb(255, 254, 106);
}
.wall-block {
    background-color: rgb(12, 53, 71);
}
.unvisited-block {
    background-color: white;
    border: 1px solid #3bb1ec;
}