.navbar {
  .navbar-brand {
    width: 100%;
    padding-bottom: 1rem;
  }
  #visualize,
  #reset {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
  }
  select {
    cursor: pointer;
  }
}
