.navbar {
  background-color: #34495e;
  justify-content: left;

  & > div {
    margin-left: 25px;
  }

  .navbar-brand {
    color: white;
    font-weight: 500;
  }

  .btn-primary {
    background-color: #1abc9c;
    width: 200px;
  }

  .btn-secondary {
    background-color: #d40ba0;
  }

  .dropdown-toggle {
    background: none;
    border: none;
    color: white;

    &:hover {
      color: #1abc9c;
    }
    &:focus {
      outline: none;
    }
  }

  .dropdown-menu {
    background-color: #34495e;
    top: 160%;

    .dropdown-item {
      color: white;

      &:hover {
        background-color: #1abc9c;
      }
    }
  }

  #visualize,
  #reset {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
